body {
  font-family: "Roboto", sans-serif;
}

i.currentsky {
  color: #ff6584;
  font-size: 50px;
}

.focus {
  text-align: center;
  left: 1px;
  line-height: 5px;
  margin: 15px auto;
  max-width: fit-content;
  text-decoration: none;
  display: block;
}

.protrait {
  right: 1px;
  display: block;
  margin: 10px auto;

  max-width: fit-content;
  text-align: center;
  position: inherit;
  padding: 25px;
}

.forecastcontainer {
  bottom: 5px;
}

p {
  color: #ec6e4c;
  text-align: center;
}
p.degree {
  color: #4ea685;
  height: 19px;
  margin-top: 1px;
}
.forecast {
  text-align: center;
}
.degree {
  color: #4ea685;
  font-size: 25px;
  line-height: 1px;
}

footer {
  bottom: 0px;
  text-align: center;
  display: block;
  color: #ff6584;
}

h6 {
  color: #7c7c7c;
}

.button {
  color: #4ea685;
  font-size: 21px;
  font-weight: bolder;
  width: 200px;
  box-shadow: 5px 3px 3px rgb(0 0 0 / 20%);
  font-family: "Roboto", sans-serif;
  border-radius: 3px;
}
.button:hover {
  cursor: pointer;
  opacity: 2;
  transition: all 1s ease-in-out;
  color: #ec6e4c;
}

.units {
  color: #6c63ff;
  font-size: 20px;
  top: -14px;
  position: relative;
}
.temperature {
  font-style: italic;
}
.city {
  font-size: xx-large;
}
.weather-app {
  max-width: 1150px;
  margin: 0 auto;
  padding: 10px;
  border: 2px solid #7c7c7c;
  border-radius: 11px;
  margin-top: 35px;
}

.icon {
  color: #ff6584;
}

.footer:find-me {
  color: #ff6584;
}
