body {
  font-family: "Roboto", sans-serif;
}

i.currentsky {
  color: #ff6584;
  font-size: 50px;
}

.focus {
  text-align: center;
  left: 1px;
  line-height: 5px;
  margin: 15px auto;
  max-width: fit-content;
  text-decoration: none;
  display: block;
}

.protrait {
  right: 1px;
  display: block;
  margin: 10px auto;

  max-width: fit-content;
  text-align: center;
  position: inherit;
}

.forecastcontainer {
  bottom: 5px;
}

p {
  color: #ff6584;
  text-align: center;
}
p.degree {
  color: #6c63ff;
  height: 19px;
  margin-top: 1px;
}
.forecast {
  text-align: center;
}
.degree {
  color: #6c63ff;
  font-size: 25px;
  line-height: 1px;
}

footer {
  bottom: 0px;
  text-align: center;
  display: block;
}

h6 {
  color: #7c7c7c;
}

.search-more {
  color: #6c63ff;
  font-size: 25px;
}
.units {
  color: #6c63ff;
  font-size: 20px;
  top: -14px;
  position: relative;
}
.temperature {
  font-style: italic;
}
.city {
  font-size: xx-large;
}
.weather-app {
  max-width: 1150px;
  margin: 0 auto;
  padding: 10px;
  border: 2px solid #ff6584;
  border-radius: 11px;
  margin-top: 35px;
}
